* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 1013px;
height: 128px;

}
.title {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    font-weight: 900;
    line-height: 40px;
    position: relative;
    top: 14vh;
    left: 10vw;
    color: #151B32;
}
.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 1013px;
    height: 64px;
    top: 20vh;
    left: 10vw;
    position: relative;
    }
.search {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 8px;
    width: 327px;
    height: 64px;
    border: 1px solid #BFC8E6;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.search span {
    font-family: 'Poppins', sans-serif;
    width: 105px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #151B32;
    opacity: 0.7;
    flex: none;
    order: 1;
    flex-grow: 0;
}
ul.menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 534px;
    height: 56px;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.menu li {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 1em;
gap: 0.5em;
width: 121px;
height: 56px;
flex: none;
order: 0;
flex-grow: 0;
}
.menu li span {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    color: #151B32;
    opacity: 0.8;
}
.menu li:hover span {
    border-bottom: 1px solid blue;
}
#newuser {
    background-color: #849FFF;
    border-radius: 8px;
}
#newuser span {
    color: #fff;
}
.user-wrap {
    position: relative;
    top: 40vh;
}
.user {
    display: flex;
    width: 327px;
height: 208px;
}
.user_img {
    width: 97px;
    height: 97px;
}
.user_img img {
    width: 100%;
}
.info {
    padding: 20px 0px 0px;
    margin-left: 20px;
    width: 40%;
}
.name {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    color: #151B32;
}
.address {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}
.like-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 1em;
    gap: 4px;
    width: 100%;
}
.like {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #516FD5;
    border: 1px solid #BFC8E6;
    border-radius: 10px;
    padding: 2px 8px;
}
@media (max-width:1200px) {
    .bar {
        flex-direction: column;
        align-items: flex-start;
    }
    .menu {
        margin-top: 2em;
    }
    
}

